@font-face {
  font-family: Lalezar;
  src: url("../fonts/Lalezar-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  font-family: Lalezar;
  color: #0c0c0c;
  background-color: #fff;
  overflow-x: hidden;
  direction: rtl;
}

:root {
  --text-color: #000;
  --text-hover: #f7444e;
  --title-text: #002c3e;
}
