.bg-section {
  -webkit-box-flex: 1;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 7rem 0 1.5rem     0;
}

.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-section .container {
  width: 100%;
  position: unset;
}

.bg-section .detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--title-text);
  line-height: 70px;
}

.bg-section .detail-box h1 span {
  color: var(--text-hover);
}

.bg-section .detail-box p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.bg-section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: var(--text-hover);
  border: 1px solid var(--text-hover);
  color: #fff;
  border-radius: 15px;
  transition: all 0.3s;
  font-weight: 700;
  text-decoration: none;
}
